
:root{
    --grey: #B6B8BC;
    --dark-grey: #48494b;
    --blue: #A4D0E9;
    --dark-blue: #527E97;
    --black: black;

    --primary: var(--blue);
    --secondary: var(--dark-blue);

    --h1:5.5rem;
    --p: 6rem;
    margin-left: 2%; margin-top: 2%;

}
.light{
    --primary: var(--blue);
    --secondary: var(--dark-blue);   
}
.dark{
    --primary: var(--grey);
    --secondary: var(--dark-grey);
}

.title{
    background-color: var(--primary);
}
#food{
    background-color: var(--secondary);
    height: 200vh;
    padding 0;
}

h1{
    font-size: var(--h1); text-align: center;
}
h3{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.foodname {
    position: absolute;
    font-size: 20px;
    margin-bottom: 1.5rem;
}

img{
     object-fit: cover; width: 300px; height: 210px; margin: 2%;
}
.images1, .images2, .images3{
    display: flex; justify-content: space-around; align-items: center;
}
.btn{
    
}



