
:root{
    --grey: #B6B8BC;
    --dark-grey: #48494b;
    --blue: #A4D0E9;
    --dark-blue: #527E97;
    --black: black;

    --primary: var(--blue);
    --secondary: var(--dark-blue);

    --h1:5.5rem;
    --p: 6rem;
    margin-left: 2%; margin-top: 2%;

}
.light{
    --primary: var(--blue);
    --secondary: var(--dark-blue);   
}
.dark{
    --primary: var(--grey);
    --secondary: var(--dark-grey);
}

.title{
    background-color: var(--primary);
}
.main{
    background-color: var(--secondary);
    height: 200vh;
      padding 0;
}

h1{
    font-size: var(--h1); text-align: center;
}
p{
    font-size: var(--p);text-align: center;
}


img{
     object-fit: cover; width: 24%; height: 210px; margin: 2%;
}
.images1, .images2, .images3{
    display: flex; justify-content: space-around; align-items: center;
}
.btn{
    
}



