:root{
  --grey: #B6B8BC;
  --dark-grey: #48494b;
  --blue: #A4D0E9;
  --dark-blue: #527E97;
  --black: black;

  --primary: var(--blue);
  --secondary: var(--dark-blue);

  --h1:5.5rem;
  --p: 1.5rem;
  margin-left: 2%; margin-right: 2%;

}
.light{
  --primary: var(--blue);
  --secondary: var(--dark-blue);   
}
.dark{
  --primary: var(--grey);
  --secondary: var(--dark-grey);
}

.title{
  background-color: var(--primary);
}
#food{
  background-color: var(--secondary);
  height: 100rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

h1{
  font-size: var(--h1); text-align: center;
  background-color: var(--primary); margin-bottom: 0;
}
p{
  font-size: var(--p);
}

.product {
  height: 20rem;
  width: 18rem;
  margin-top:3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: var(--secondary);
  border-style: solid; border-width: .5rem; border-color: white;
}
.product:hover{
  transform: scale(1.11);
  transition-duration: .3s;
  cursor: pointer;
}


.w-image{
  height: 58%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 0rem;
}
.title{
  width: 100%;
  height: 4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info{
  width: 100%;
  height: 3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.foodname {
  position: absolute;
  font-size: 2rem;
  margin-bottom: 2rem;
}
#buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}
.btn,.foodbtn,.drinksbtn,.cheapbtn, .allbtn{
  font-size: 1.3rem; width: 11rem; height: 3rem; color: var(--secondary); margin: 2rem;
}